<h3>概述</h3>
<p>在本页面中您对指定卸货会话进行一系列修改操作。但若本卸货会话已经关闭，就不能再做任何修改, 只能查看内容。</p>
<p>卸货会话在本系统中的定位是一种用来生成收货单的工具。你可以利用这个工具记录收货流程，通过这些数据生成收货单（可以执行多次）。</p>

<p>
<ul>
  <li>本页面分成了多个部分，您可以点击每个部分的标题栏，以实现收放。</li>
</ul>
在页面最下部是操作栏。说明：
<ul>
  <li>当您修改了内容，但是想恢复到这个卸货会话原有的内容，可以点击重置。</li>
  <li>您可以打开或者关闭本卸货会话</li>
  <li>可以为本卸货会话生成收货单</li>
</ul>
</p>
<hr />
<h3>常见问题</h3>
<ul>
  <li>
    <strong><i>为什么我不能修改某些字段，例如创建时间？</i></strong>
    <p>    
    包含两种原因：
    <ul>
      <li>本卸货会话已经关闭</li>
      <li>系统规定这些字段不能修改</li>
    </ul>
    </p>
  </li>
  <li>
    <strong><i>我想修改卸货任务信息，怎么办?</i></strong>
    <p>
    点击某个卸货任务, 进入卸货任务详情页进行修改。注意，若您此时正在称重，增加了某个卸货任务的重量，可能会导致后序的称重出现异常情况。因为称重的逻辑是：
    从毛重减去已经称掉的重量，就是下一次称重的上限。例如：车的毛重是10000公斤，已经称重了7000公斤。那么下次称重，最多能输入10000-7000=公斤。若您把之前的卸货任务的重量增加了4000公斤，那么会导致再也不能进行后续的称重的操作，因为上限已经变成负数(10000-7000-4000 = -1000公斤)
    </p>
  </li>
</ul>

