@media (min-width: 979px) {
    body {
        padding-top: 60px !important;
    }

    .form-signin {
        margin: 10px auto;
        width: 30em;
    }

}

@media (max-width: 979px) {
    body {
        padding-top: 60px;
    }
    .page-body {
        padding-bottom: 60px;
    }
}


.navbar-fixed-top{
    position: fixed;
    margin: 0;
}

.form-signin {
    padding: 15px;
    margin-top: 20px;
}

.form-signin .controls {
    margin: 0;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.centered-content {
    text-align: center !important;
}

.padding {
    padding-top: 5px;
}

thead th, tfoot th {
    background: #e0e0e0;
}

.required {
    color: #ff0000;
}

@media print {
    .table-bordered {
        border: 1px solid #000000;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #000000;
    }
    div {
        padding-top: 0;
        page-break-before: avoid;
        page-break-after: avoid;
    }

    .page-next:not(:last-child) {
        page-break-after: always;
    }
  a[href]:after {
    content: none !important;
  }
}

.well {
    padding: 8px 0;
}


header li.dropdown>a.dropdown-toggle {
    padding-left: 0px;
}

.icon-off {
    color: red;
}

.context-menu {
    position: fixed;
    width: 100%;
    background-color: #ECF0F1;
    min-height: 10%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    opacity: 1.0;
}
.context-menu .btn-group {
    height: 100%;
    margin-bottom:0;
}

.context-menu .btn-group a {
    color: black;
    background-color: #ECF0F1;
    text-align: center;
    vertical-align: middle;
    height: 100%;
}


.controls ul .control-text{
    float:none;
}
