{% extends "__data_browser__/form.html" %}
{% block __data_browser__customized_head_block %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static',filename="js/fancybox/source/jquery.fancybox.css") }}" type="text/css" media="screen">
  <script type="text/javascript" src="{{ url_for('static',filename="js/fancybox/source/jquery.fancybox.pack.js") }}"></script>
  <script type="text/javascript">
    $(function () {
      $(".fancybox").fancybox();
      $('[name=__action__][value="生成发货单"]').click(function () {
        $("#" + {{ obj.id|tojson|safe }} +"-dialog").modal('show');
        return false;
      });
      $("button[name=consignment-button]").click(function () {
        var data = {};
        $("[name=pay_mod]").each(function () {
          data[$(this).attr("data-customer")] = $(this).val()
        });
        if (data != {}) {
          $("[name=customer-pay_mod]").val(JSON.stringify(data));
          $("form[name=consignment-form]").submit();
        }
      });
      $(".collapse[data-role=cn-entries]").on('shown',function (event) {
        event.stopPropagation();
        $(this).prev().attr("class", "icon-chevron-up");
      }).on('hidden', function (event) {
            event.stopPropagation();
            $(this).prev().attr("class", "icon-chevron-down");
          });
    });
  </script>
  <div>{{ consignment_gene(obj) }}</div>
{% endblock %}
{% macro consignment_gene(delivery_session) %}
  {% if delivery_session.customer_list %}
    <div id="{{ delivery_session.id }}-dialog" class="modal hide fade" tabindex="-1">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3>{{ _("请选择支付类型") }}</h3>
      </div>
      <form class="modal-form form-horizontal" action="{{ url_for("delivery.create_consignment_list", id_=obj.id) }}" method="POST" name="consignment-form">
        <input type="hidden" name="customer-pay_mod" value=""/>
        <input type="hidden" name="url" value="{{ request.url }}"/>

        <div class="modal-body" id="new-consignment-content">
          <fieldset>
            {% for customer in delivery_session.customer_list %}

              <div class="control-group">
                <label for="pay_mode" class="control-label">
                  <span>{{ customer.name }}</span>
                </label>

                <div class="controls">
                  <select name="pay_mod" id="pay_mode" required="required" class="input-medium"
                          data-customer="{{ customer.id }}">
                    <option value="0">月结</option>
                    <option value="1">现金支付</option>
                  </select></div>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" name="consignment-button" type="button">
            提交
          </button>
          <a class="btn" data-dismiss="modal">
            返回
          </a>
        </div>
      </form>
    </div>
  {% endif %}
{% endmacro %}