<h3>概述</h3>
<p>在本页面中您对指定发货会话进行一系列修改操作。但若本发货会话已经关闭，就不能再做任何修改, 只能查看内容。</p>
<p>发货会话在本系统中的定位是一种用来生成发货单的工具。你可以利用这个工具记录发货流程，通过这些数据生成发货单（可以执行多次）。</p>

<p>
<ul>
  <li>本页面分成了多个部分，您可以点击每个部分的标题栏，以实现收放。</li>
</ul>
在页面最下部是操作栏。说明：
<ul>
  <li>当您修改了内容，但是想恢复到这个发货会话原有的内容，可以点击重置。</li>
  <li>您可以打开或者关闭本发货会话</li>
  <li>可以为本发货会话生成发货单</li>
</ul>
</p>
<hr />
<h3>常见问题</h3>
<ul>
  <li>
    <strong><i>为什么我不能修改某些字段，例如创建时间？</i></strong>
    <p>
    包含两种原因：
    <ul>
      <li>本发货会话已经关闭</li>
      <li>系统规定这些字段不能修改</li>
    </ul>
    </p>
  </li>
  <li>
    <strong><i>我想修改发货任务信息，怎么办?</i></strong>
    <p>
    点击某个发货任务, 进入发货任务详情页进行修改。
    </p>
  </li>
  <li>
    <strong><i>为什么重新打开发货会话后，曾添加的仓单未出现在“已选择仓单列表”里？</i></strong>
    <p>
     在关闭发货会话后，会取消与未发货的仓单的关联，使之可以被别的发货会话选择。因此，重新打开发货会话后，需要重新添加仓单。
    </p>
  </li>
</ul>
