{% extends "layout.html" %}
{% block __data_browser__custom_external_block %}
  <script type="text/javascript">
    $(function () {
      $("input:checkbox[name='check_all']").click(function () {
        var val = 'table' + $(this).val().match(/\d+/);
        $("#" + val + " input:checkbox[name='store_bill_list']").attr("checked", this.checked);
      });
      $("#select").click(function () {
        if ($("input:checkbox[name='store_bill_list']:checked").val() == undefined) {
          alert("请选择仓单");
          return false;
        } else {
          return true;
        }
      });
      {% if not request.args.get("delivery_session_id") %}
        var id_list = {{ request.args.getlist("store_bill_list")|tojson|safe }};
        $("[name=store_bill_list]").each(function () {
          if ($.inArray($(this).val(), id_list) > -1) {
            $(this).attr("checked", true);
          }
        });
      {% endif %}
      $(".collapse").each(function () {
        $(this).collapse({toggle: false});
      });
      $("#customer").change(function () {
        var current_id = $(this).val();
        if (current_id != 0) {
          $(".collapse").each(
              function () {
                var e = $(this).parent("div.accordion-group");
                if ($(this).attr("id") != "customer" + current_id) {
                  e.hide();
                } else {
                  e.show();
                  $(this).collapse("show");
                }
              }
          );
        } else {
          $(".collapse").each(
              function () {
                $(this).parent("div.accordion-group").show();
              }
          );
        }
      });
      function genatext() {
        var text = "";
        $(".accordion-group").each(function () {
          var head = $(this).find("a").text();
          var checkbox = $(this).find("[name=store_bill_list]:checked");
          if (checkbox.length != 0) {
            text += head + ":";
            checkbox.each(function (inx) {
              text += $(this).val();
              if (inx != checkbox.length - 1) {
                text += ",";
              } else {
                text += "; ";
              }
            })
          }
        });
        $(".text-success").text(text);
      }

      genatext();
      $("[type=checkbox]").click(genatext);
    })
  </script>
{% endblock %}

{% block body %}
  <div class="container">
    <legend>仓单列表</legend>
    {% if not customer_list %}
      <p class="text-error">当前无可发货的仓单</p>
      <a class="btn btn-large" href="{{ request.args.get("url") or url_for('delivery.session_list') }}">
        返回
      </a>
    {% else %}
      <p>
        已选择的仓单：
        <span class="text-success"></span>
      </p>
      <div class="form-inline">
        <label class="padding" for="customer">客户</label>
        <select name="customer" id="customer">
          <option value="0">所有</option>
          {% for customer in customer_list %}
            <option value="{{ customer.id }}">{{ customer.name }}</option>
          {% endfor %}
        </select>
      </div>

      <form class="form-horizontal"
          {% if delivery_session_id %}
            method="POST" action="{{ url_for('delivery.store_bill_add', delivery_session_id=delivery_session_id) }}"
          {% else %}
            action="{{ request.args.get("url", url_for("delivery.delivery_session")) }}"
          {% endif %} >
        {% for keyword in ["plate_", "tare", "with_person"] %}
          {% if request.args.get(keyword) %}
            <input type="hidden" name="{{ keyword }}" value="{{ request.args.get(keyword) }}"/>
          {% endif %}
        {% endfor %}
        <div id="accordion-div" class="accordion">
          {% for customer in customer_list %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#customer{{ customer.id }}" data-toggle="collapse">
                  {{ customer.name }}
                </a>
              </div>
              <div class="accordion-body collapse" id="customer{{ customer.id }}">
                <div class="accordion-inner">
                  <table class="table table-striped table-bordered table-condensed" id="table{{ customer.id }}">
                    <thead>
                    <tr>
                      <th>
                        <input type="checkbox" name="check_all" value="check_box{{ customer.id }}"/>
                      </th>
                      <th>仓单号</th>
                      <th>对应的订单编号</th>
                      <th>对应的收货单号</th>
                      <th>存放点</th>
                      <th>产品名称</th>
                      <th>大约净重(KG)</th>
                      <th>数量</th>
                      <th>图片</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for store_bill in customer.store_bill_list %}
                      <tr {% if not store_bill.printed %}
                        class="warning" title="未打印">
                        <td></td>
                        {% elif not store_bill.harbor %}
                          class="warning" title="未选择存放点">
                          <td></td>
                      {% else %}
                        >
                        <td>
                          <div class="ym-fbox-check">
                            <input type="checkbox"
                                   value="{{ store_bill.id }}"
                                   name="store_bill_list"/>
                          </div>
                        </td>
                      {% endif %}
                      <td>{{ store_bill.id }}</td>
                      <td>{{ store_bill.sub_order.order.customer_order_number }}</td>
                      <td>
                        {{ store_bill.sub_order.order.goods_receipt.receipt_id }}</td>
                      <td>{{ store_bill.harbor.name if store_bill.harbor or "" }}</td>
                      <td>{{ store_bill.product_name }}</td>
                      <td>{{ store_bill.weight }}</td>
                      <td>
                        {{ store_bill.quantity }}(
                        {{ store_bill.unit }})
                      </td>
                      <td>{% if store_bill.pic_url %}
                        <a href="{{ store_bill.pic_url }}"
                           class="fancybox" rel="group"
                           title="{{ store_bill.product_name }}">
                          <img src="{{ store_bill.pic_url }}"
                               class="bordered"
                               alt="{{ store_bill.product_name }}"/>
                        </a>{% endif %}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
        <div class="control-group">
          <div class="controls">
            {% if delivery_session_id %}
              <input type="hidden" name="url" value="{{ request.args.get("url") or url_for('delivery.delivery_session', id_=delivery_session_id) }}">
              <button class="btn btn-large btn-primary" id="select">添加
              </button>
              <a class="btn btn-large"
                 href="{{ request.args.get("url") or url_for('delivery.delivery_session', id_=delivery_session_id) }}">返回
              </a>
            {% else %}
              <button class="btn btn-large btn-primary" id="select">
                添加
              </button>
              <button class="btn btn-large" type="button" onclick="window.history.go(-1)">
                返回
              </button>
            {% endif %}
          </div>
        </div>
      </form>
      </div>
    {% endif %}
{% endblock %}
