{% extends "__data_browser__/layout.html" %}
{% block __data_browser__custom_external_block %}
    <script src="{{ url_for("static", filename="js/jquery-1.8.3.min.js") }}"></script>
    <script type="text/javascript">
        $(function () {
            $("#view").click(function () {
                $("form").attr("method", "GET");
                $("form").submit();
            });
            $("#export").click(function () {
                $("form").attr("method", "POST");
                $("form").submit();
            });

            $("input[name=begin_date]").change(function () {
                $("input[name=end_date]").attr("min", $(this).val());
            });
            $("input[name=end_date]").change(function () {
                $("input[name=begin_date]").attr("max", $(this).val());
                });
            $('#begin_date,#end_date').datetimepicker({
              language: "zh-CN",
              pickTime: false
            });
        });
    </script>
{% endblock %}
{% block body %}
  {{ sub_nav_bar.as_ul("active") | safe }}
  <div class="container">
    <form action="{{ url_for('admin2.team_performance') }}">
      生产日期在
      <div id="begin_date" class="input-append date">
        <input data-format="yyyy-MM-dd" type="text" name="begin_date" {% if begin_date %}
        value="{{ begin_date }}"
        {% endif %}>
        <span class="add-on">
          <i class="icon-calendar">
          </i>
        </span>
      </div>
      与
      <div id="end_date" class="input-append date">
        <input data-format="yyyy-MM-dd" type="text" name="end_date" {% if end_date %}
        value="{{ end_date }}"
        {% endif %} > 
        <span class="add-on">
          <i class="icon-calendar">
          </i>
        </span>
      </div>
      之间的订单
      <div>
        <button class="btn" type="button" id="export">导出表格</button>
      </div>
    </form>
  </div>
{% endblock %}
