<h3>概述</h3>
<p>
本列表用于展示卸货会话列表, 默认是按照<strong>按编号倒序展示</strong>。
</p>
<p>
<h5>在本列表，您可以完成如下的浏览操作:</h5>
  <ul>
    <li>
      <p>点击蓝色字体的表头, 例如"编号", 可以按这一列倒序(向下箭头), 或者正序(向上箭头)展示, 如下图表示按照创建时间倒序展示:</p>
      <img src="{{ url_for("static", filename="help_imgs/cargo/us-list-help-1.png") }}" alt="" />
    </li>
    <li>
      <p>按右侧提供的过滤条件对列表进行筛选</p>
    </li>
    <li>
      <p>当某些字段后面出现上下小箭头时，可以点击展开或合并， 如下图展开了客户列表: </p>
      <img src="{{ url_for("static", filename="help_imgs/cargo/us-list-help-2.png") }}" alt=""/>
    </li>
    <li>
      列表中所有的蓝色字体均表示可以点击到某个对象的详情页
    </li>
    <li>
      列表中每一行默认都是白色，若不是白色，请将鼠标挪到这一行上，会出现相关说明
      </li>
  </ul> 
</p>
<br />
<br />
<p>
<h5>在本列表中，您可以进行如下操作：</h5>
<ul>
  <li>
    <strong>删除卸货会话</strong>
    当您发现生成了多余的卸货会话可以将其删除。即使从这个卸货会话生成了收货单，也不会对收货单产生影响。
  </li>
  <li>
    <strong>关闭卸货会话</strong>
    卸货会话关闭后，就不能再对其进行任何修改操作。正常情况下，当装卸工标记卸货任务是最后一个，一旦完成称重操作，该卸货会话默认关闭。
  </li>
  <li>
    <strong>打开卸货会话</strong>
    由于卸货工错误的将卸货任务标记为最后一个，或者其它的原因，导致卸货会话关闭时，您可以将卸货会话重新打开。需要注意的是，如果您之后又对卸货会话进行了称重操作，需要重新生成收货单（您不用担心，过时的收货单会明显的标记出来）
  </li>
  <li>
    <strong>生成收货单</strong>
    您可以通过卸货会话为每一个客户生成收货单，即使您多次生成收货单，原来的收货单也会被清除，所以您不用担心有多余的收货单产生。建议您一旦发现有收货单过时（收货会话标记为红色），就重新生成收货单。
  </li>
</ul>
</p>
<hr/>
<br />
<br />
<br />

<h3>常见问题</h3>
<ul>
  <li>
    <strong>我想查看一定时间范围内某辆车的所有卸货会话怎么办？</strong>
    <p>在筛选条件中选择时间范围，选择车辆， 然后刷新</p>
  </li>
  <li>
    <strong>我想查看某个客户的所有收货单怎么办？</strong>
    <p>建议您查看收货单列表</p>
  </li>
  <li>
    <strong>我想查看所有未打印的收货单怎么办？</strong>
    <p>建议您查看收货单列表</p>
  </li>
  <li>
    <strong>我想删除某些收货单怎么办？</strong>
    <p>建议您查看收货单列表</p>
  </li>
</ul>
