{% extends "layout.html" %}
{% block __data_browser__custom_external_block %}
  <script type="text/javascript">
    $(function () {
      {% if permissions.AccountantPermission.can() or consignment.MSSQL_ID %}
        $("input").attr("disabled", true);
        $("select").attr("disabled", true);
      {% endif %}
    });
  </script>
{% endblock %}
{% block body %}
  <div class="container">
    <legend>发货单详情</legend>
    <form class="form-horizontal" action="{{ url_for("delivery.consignment", id_=consignment.id) }}" method="POST">
      <div class="control-group">
        <label class="control-label"><strong>发货单号</strong></label>

        <div class="controls">
          <p class="padding">{{ consignment.consignment_id }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>公司名称</strong></label>

        <div class="controls">
          <p class="padding">{{ consignment.customer }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>车辆车牌号</strong></label>

        <div class="controls">
          <p class="padding">{{ consignment.plate }}</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"><strong>生成时间</strong></label>

        <div class="controls">
          <p class="padding">{{ consignment.create_time }}</p>
        </div>
      </div>
      <div class="control-group">
        <label for="pay_mode" class="control-label">支付方式</label>

        <div class="controls">
          <select name="pay_in_cash" id="pay_mode">
            <option value="0">月结</option>
            <option value="1"{% if consignment.pay_in_cash %}
                    selected="selected"
            {% endif %} >现金支付
            </option>
          </select></div>
      </div>

      <div class="control-group">
        <label for="notes" class="control-label">备注</label>

        <div class="controls">
          <input type="text" name="notes" id="notes" value="{{ consignment.notes or "" }}" maxlength="255">
        </div>
      </div>
      <legend>产品列表</legend>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
          <th>产品名称</th>
          {% if not consignment.measured_by_weight %}
            <th>型号-规格</th>
            <th>数量</th>
            <th>单位</th>
          {% endif %}
          <th>净重(KG)</th>
          <th>退镀重量(KG)</th>
          <th>生产班组</th>
        </tr>
        </thead>
        <tbody>
        {% for current in consignment.product_list %}
          <tr>
            <td>{{ current.delivery_task.product.name }}-->
              <a href="{{ url_for('delivery.consignment_product', id_=current.id, url=request.url) }}" name="consignment-product" title="点击修改该产品信息">
                {% if not consignment.MSSQL_ID %}
                    <i class="icon-edit"></i>
                  {% else %}
                  <i class="icon-eye-open"></i>
                {% endif %}&nbsp;{{ current.product.name }}
              </a>
            </td>
            {% if not consignment.measured_by_weight %}
              <td>{{ current.delivery_task.spec_type_list|join("<br>")|safe }}
                -->
                ({{ current.spec }}-{{ current.type }})
              </td>
              <td>{{ current.delivery_task.quantity }}-->({{ current.quantity }})
              </td>
              <td>{{ current.delivery_task.unit }}-->({{ current.unit }})</td>
            {% endif %}
            <td>{{ current.delivery_task.weight }}-->({{ current.weight }})</td>
            <td>{{ current.delivery_task.returned_weight }}-->({{ current.returned_weight }})
            </td>
            <td>{{ current.delivery_task.team_list|join(" ",attribute="name")|safe }}-->({{ current.team.name if current.team else "" }})
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <div class="control-group">
        <p>
          <span class="span4">
             <strong><em>总净量(KG)</em></strong>&nbsp;{{ consignment.product_list|sum("weight") }}
          </span>
          <span>
              <strong><em>总退镀重量(KG)</em></strong>&nbsp;{{ consignment.product_list|sum("returned_weight") }}
          </span>
        </p>
      </div>
      <div class="control-group">
        <div class="controls">
          {% if (not consignment.MSSQL_ID and permissions.CargoClerkPermission.can()) or (permissions.AccountantPermission.can() and not consignment.is_paid) %}
            <button class="btn btn-primary btn-large">{{ "已支付" if permissions.AccountantPermission.can() else "保存" }}</button>
          {% endif %}
          <a href="{{ url_for("delivery.consignment_preview", id_=consignment.id, url=request.url) }}"
             class="btn btn-success btn-large"><i class="icon-print icon-white"></i>&nbsp;预览</a>
          <input type="hidden" name="url" value="{{ request.args.get("url") or url_for("delivery.session_list") }}">
          <a href="{{ request.args.get("url") or url_for("delivery.session_list") }}" class="btn btn-large">
              <i class="icon-backward"></i>&nbsp;返回</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}