<div id="view-consignments-dialog" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>

    <h3>{{ _("查看收货单") }}</h3>
  </div>
  <div class="modal-body" id="view-consignments-content">
    <ul class="nav nav-tabs nav-stacked"></ul>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">关闭</a>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#view-consignments-dialog').modal({show: false});
    $('#view-consignments-dialog').on("show", function () {
      {% if delivery_session %}
        var session_id = "{{ delivery_session.id }}";
      {% else %}
        var session_id = $("input[type='radio']:checked").val();
      {% endif %}

      if (jQuery.type(session_id) == "undefined" || session_id == "") {
        $("#view-consignments-content").html('<p class="text-error">' + "当前无记录" + '</p>');
        return;
      }
      $("#view-consignments-content").children('ul').children('li').remove();
      $.getJSON("/delivery/ajax/consignment-list?delivery_session_id=" + session_id,
          function (data) {
            $("#view-consignments-content").children("ul").empty();
            $.each(data, function (idx, v) {
              $("#view-consignments-content").children("ul").append('<li><a href="{{ url_for('delivery.consignment') }}' + v.id + '?url=' + encodeURIComponent(location.href) + '">' + v.consignment_id + '(' + v.customer + ')' + '</a></li>');
            });
          }).error(function (data) {
            $("#view-consignments-content").children("ul").html('<p class="text-error">' + data.responseText + '</p>');
          });
    });
  });
</script>